<footer>
  <div class="inner">
    <div class="footer_left">
      <div class="logo">
        <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/logo_img.png" alt=""></a>
      </div>
      <p class="u-pc">
        株式会社 徳森養鶏場<br>
        904-2307 沖縄県うるま市与那城饒辺807-3<br>
        <a href="https://goo.gl/maps/1im43PMvrLpPJG8S8" target="_blank">GoogleMapで見る</a><br>
        TEL: 090-1945-0263/FAX:098-978-3031<br>
        nywoku@gmail.com
      </p>
      <div class="sns-area u-pc">
        <a href="https://www.instagram.com/tokumoriyoukeijyou/?hl=ja" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-insta.svg" alt=""></a>
        <a href="https://www.youtube.com/channel/UCKrJqz81mKjaL4xBoX7n6pg/featured" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-youtube.svg" alt=""></a>
        <a href="https://www.tiktok.com/@normanbrothers?lang=ja-JP&is_copy_url=1&is_from_webapp=v2" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-ticktok.svg" alt=""></a>
      </div>
    </div>
    <!-- /.footer_left -->
    <div class="footer_center">
      <nav>
        <ul class="footer_main-nav">
          {% for link in linklists.footer.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li class="item-category">
            商品一覧
            <ul>
              <li><a href="/collections/brandedeggs">-くがにたまご</a></li>
              <li><a href="/collections/sweets">-卵菓子</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- /.footer_center -->
    <div class="footer_right">
      <div class="link-box">
        <a href="#">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-mail01.svg" alt="">
          <p>お問い合わせフォーム</p>
        </a>
      </div>
      <div class="link-box">
        <a href="tel:09019450263">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-tel.svg" alt="">
          <p>090-1945-0263</p>
        </a>
      </div>
      <p class="time">営業時間｜8:30～17:00</p>
      <p class="holiday">定休日｜土日・祝日・正月休み</p>
      <p class="address u-sp">
        株式会社 徳森養鶏場<br>
        904-2307 沖縄県うるま市与那城饒辺807-3<br>
        <a href="https://goo.gl/maps/1im43PMvrLpPJG8S8" target="_blank">GoogleMapで見る</a><br>
        TEL: 090-1945-0263/FAX:098-978-3031<br>
        nywoku@gmail.com
      </p>
      <div class="u-sp">
        <div class="sns-area">
          <a href="https://www.instagram.com/tokumoriyoukeijyou/?hl=ja" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-insta.svg" alt=""></a>
          <a href="https://www.youtube.com/channel/UCKrJqz81mKjaL4xBoX7n6pg/featured" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-youtube.svg" alt=""></a>
          <a href="https://www.tiktok.com/@normanbrothers?lang=ja-JP&is_copy_url=1&is_from_webapp=v2" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-ticktok.svg" alt=""></a>
        </div>
      </div>
      <div class="tra-poli_box">
        <p class="link_trans">
          <a href="#">特定商取引法に基づく表記</a>
        </p>
        <p class="link_policy">
          <a href="#">プライバシーポリシー</a>
        </p>
      </div>
      <small>©徳森養鶏場 ALL RIGHTS RESERVED.</small>
    </div>
    <!-- /.footer_right -->
    <div class="komainu"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/footer_comainu.svg" alt=""></div>
  </div>
  <!-- /.inner -->
</footer>