{% if template.name == 'index' %}
<header class="scroll-header">
{% else %}
<header class="header-active">
{% endif %}
  <div class="header_inner">
    <div class="logo01">
      <a href="{{ routes.root_url }}">
        <h1><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/logo_img.png" alt="特盛養鶏場 | たまご王国"></h1>
      </a>
    </div>
    <div class="header-icon-area">
      <div class="header-login">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-login01.svg" alt=""></a>
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-login02.svg" alt=""></a>
      </div>
      <div class="header-cart">
        <a href="/cart"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-cart01.svg" alt=""></a>
        <a href="/cart"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-cart02.svg" alt=""></a>
      </div>
      <div class="hambager-content">
        <button type="button" class="hambager">
          <span class="c-line"></span>
          <span class="c-line"></span>
          <span class="c-line"></span>
        </button>
      </div>
      <!-- /.hambager-content -->
    </div>
    <!-- /.header-icon-area -->
  </div>
  <!-- /.header_inner -->
</header>

<div class="mega-menu">
  <div class="mega-menu_inner">
    <div class="logo"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/logo_img.png" alt=""></div>
    <nav>
      <ul class="main-nav-list">
        <li>
          <a href="{{ routes.root_url }}">
            <p>トップページ</p>
            <p>TOP</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>たまご王国について</p>
            <p>OUR CONCEPT</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>ノーマンブラザーズ</p>
            <p>AMBASSADOR</p>
          </a>
        </li>
      </ul>
      <ul class="main-nav-list">
        <p class="ttl">商品一覧</p>
        <li>
          <a href="/collections/brandedeggs">
            <p>くがにたまご</p>
            <p>BRANDED EGGS</p>
          </a>
        </li>
        <li>
          <a href="/collections/sweets">
            <p>卵菓子</p>
            <p>SWEETS</p>
          </a>
        </li>
      </ul>
      <div class="link-log-cart u-sp">
        <div class="login">
          <a href="#"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-login02.svg" alt="">ログイン</a>
        </div>
        <div class="cart">
          <a href="/cart"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-cart02.svg" alt="">カート</a>
        </div>
      </div>
      <ul class="sub-nav-list">
        <div class="sp-list">
          {% for link in linklists.main-menu.links %}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </div>
        <li>
          <a href="https://www.instagram.com/tokumoriyoukeijyou/?hl=ja" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-insta.svg" alt=""></a>
          <a href="https://www.youtube.com/channel/UCKrJqz81mKjaL4xBoX7n6pg/featured" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-youtube.svg" alt=""></a>
          <a href="https://www.tiktok.com/@normanbrothers?lang=ja-JP&is_copy_url=1&is_from_webapp=v2" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-ticktok.svg" alt=""></a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- /.mega-menu_inner -->
  <div class="bg_sp u-sp"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/bg_humberger_sp.png" alt=""></div>
</div>
<!-- /.mega-menu -->