<!-- メインビジュアル -->
<div class="top_mv_wrap">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/fv_img01_sp.png" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/fv_img01.png" alt="">
  </picture>
  <p class="mv_ttl">たまごで世界を笑顔に</p>
  <div class="mv_temple_img">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/temple_sp.svg" media="(max-width: 769px)">
      <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/temple.svg" alt="">
    </picture>
  </div>
</div>
<!-- /.top_mv_wrap -->

<div id="contents">
  <section class="top-concept_wrap">
    <div class="inner">
      <div class="contents_area">
        <div class="logo fadeIn"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/logo_img.png" alt=""></div>
        <h2 class="fadeIn">たまごの文化を、琉球から</h2>
        <p class="fadeIn">
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
        <button class="fadeIn">
          <a href="#">OUR CONCEPT
            <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-egg_arrow.svg" alt="">
          </a>
        </button>
      </div>
      <!-- /.contents_area -->
    </div>
    <!-- /.inner -->
  </section>
  <!-- /.top-concept_wrap -->

  <div class="top-bg_egg"></div>

  <section class="top-category_wrap">
    <div class="inner">
      <div class="category01">
        <div class="left fadeIn">
          <h3 class="u-sp"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/category_ttl01.png" alt="くがにたまご"></h3>
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_categry_img01_sp.png" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_category_img01.png" alt="">
          </picture>
        </div>
        <div class="right fadeIn">
          <h3 class="u-pc"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/category_ttl01.png" alt="くがにたまご"></h3>
          <p>
            伊計島で取れたうるま市特産品の「黄金イモ」と地元で「黄金水」と呼ばれる地下水によって育まれた卵は甘みがあって発色も鮮やか。
          </p>
          <p>
            “新感覚”のおいしさは、食生活に新たな彩りをもたらしてくれます。
          </p>
          <button class="btn01">
            <a href="/collections/brandedeggs">OUR BRAND<img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-egg_arrow.svg" alt=""></a>
          </button>
        </div>
        <div class="kugani-img02 fadeIn"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_category_img02.png" alt=""></div>
        <div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
      </div>
      <!-- /.category01 -->
      <div class="category02">
        <div class="left fadeIn">
          <h3><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/category_ttl02.png" alt="卵菓子"></h3>
          <p class="u-pc">
            伊計島で取れたうるま市特産品の「黄金イモ」と地元で「黄金水」と呼ばれる地下水によって育まれた卵は甘みがあって発色も鮮やか。
          </p>
          <p class="u-pc">
            “新感覚”のおいしさは、食生活に新たな彩りをもたらしてくれます。
          </p>
          <button class="btn01 u-pc">
            <a href="/collections/sweets">SWEETS<img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-egg_arrow.svg" alt=""></a>
          </button>
        </div>
        <!-- /.left -->
        <div class="right fadeIn">
          <picture>
            <source srcset="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_categry_img03_sp.png" media="(max-width: 769px)">
            <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_category_img03.png" alt="">
          </picture>
          <p class="u-sp">
            伊計島で取れたうるま市特産品の「黄金イモ」と地元で「黄金水」と呼ばれる地下水によって育まれた卵は甘みがあって発色も鮮やか。
          </p>
          <p class="u-sp">
            “新感覚”のおいしさは、食生活に新たな彩りをもたらしてくれます。
          </p>
          <button class="btn01 u-sp">
            <a href="/collections/sweets">SWEETS<img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-egg_arrow.svg" alt=""></a>
          </button>
        </div>
        <div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
      </div>
      <!-- /.category02 -->
    </div>
    <!-- /.inner -->
  </section>

  <div class="top_slider_wrap">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img01.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img02.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img03.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img04.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img05.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img06.jpg" alt="" />
        </div>
        <div class="swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_slide-img07.jpg" alt="" />
        </div>
      </div>
      <!-- /.swiper-wrapper-->
    </div>
    <!-- /.swiper-->
  </div>
  <!-- /.top_slider_wrap-->

  <section class="top-ambassador_wrap">
    <div class="inner">
      <div class="left">
        <h3 class="u-sp fadeIn"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_ambas_ttl_sp.png" alt=""></h3>
        <img
          class="fadeIn"
          src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_ambas_img01.png"
          alt="">
      </div>
      <div class="right fadeIn">
        <h3 class="u-pc"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_ambas_ttl.png" alt=""></h3>
        <p>
          テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
        <button class="btn01">
          <a href="#">AMBASSADOR<img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-egg_arrow.svg" alt=""></a>
        </button>
      </div>
      <div class="text-bg"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/top_ambas_bg.png" alt=""></div>
      <div class="kazari u-pc"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
    </div>
    <!-- /.inner -->
  </section>
  <!-- top-ambassador_wrap -->

  <div class="top-underlink_wrap">
    <div class="inner">
      <div class="link-box fadeIn">
        <a href="#">
          <div class="text">
            <p>Q&A</p>
            <p>よくある質問</p>
          </div>
        </a>
      </div>
      <!-- /.link-box -->
      <div class="link-box fadeIn">
        <a href="/pages/company">
          <div class="text">
            <p>COMPANY</p>
            <p>会社概要</p>
          </div>
        </a>
      </div>
      <!-- /.link-box -->
      <div class="kazari"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
    </div>
    <!-- /.inner -->
  </div>
  <!-- /.top-underlink_wrap -->

</div>
<!-- /#contents-->


{% schema %}
  {
    "name": "top-main",
    "presets": [
      {
        "name": "top-main"
      }
    ]
  }
{% endschema %}