<!-- パンくずリスト -->
<div class="breadcrumb">
  <div class="inner">
    <nav>
      <ol>
        <li>
          <a href="{{ routes.root_url }}"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/icon-home.svg" alt="">TOP</a>
        </li>
        <li>会社概要</li>
      </ol>
    </nav>
  </div>
</div>
<!-- メインビジュアル -->
<div class="p-underhead-img">
  <picture>
    <source srcset="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/p-company_img01_sp.png" media="(max-width: 769px)">
    <img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/p-company_img01.png" alt="">
  </picture>
  <div class="head_ttl_object-circle">
    <div class="head_ttl_position">
      <div class="head_ttl">
        <p>COMPANY</p>
        <h2>会社概要</h2>
      </div>
    </div>
  </div>
</div>
<!-- /.top_mv_wrap -->

<div id="contents">
  <section class="p-company_wrap">
    <div class="inner">
      <div class="company-message">
        <p>
          徳森養鶏場は沖縄県うるま市与那城にある創業1967年の養鶏場です。<br>
          沖縄県うるま市の推奨品に選ばれた『くがにたまご』や日本初の養鶏アパレルブランド『ニワトリ』を販売しております。
        </p>
        <p>
          ブランド卵である『くがにたまご』は美味しく、安全、安心で鮮度の良いたまごです。<br>
          うるま市営の農水産直売所「うるマルシェ」にて、4年連続売上No.1。<br>
          2021年からはうるま市認定の推奨品に選ばれるなど、地元で愛されているブランドです。
        </p>
      </div>
      <div class="kazari01"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
      <div class="profile-area">
        <h3>会社情報</h3>
        <table>
          <tr>
            <th>会社名</th>
            <td>株式会社 徳森養鶏場</td>
          </tr>
          <tr>
            <th>創業</th>
            <td>1967年</td>
          </tr>
          <tr>
            <th>所在地</th>
            <td>904-2307 沖縄県うるま市与那城饒辺807-3</td>
          </tr>
          <tr>
            <th>連絡先</th>
            <td>
              TEL: 090-1945-0263/<br class="u-sp">FAX:098-978-3031<br>
              nywoku@gmail.com
            </td>
          </tr>
          <tr>
            <th>代表</th>
            <td>ノーマン裕太ウエイン</td>
          </tr>
          <tr>
            <th>事業</th>
            <td>養鶏（3万羽）卸/小売/アパレル</td>
          </tr>
          <tr>
            <th>取引先</th>
            <td>うるマルシェ/サンエー各店舗/うるま市内給食センター/ホテル/各種飲食店/etc…</td>
          </tr>
          <tr>
            <th>URL</th>
            <td>
              <a href="https://www.tokumoriniwatori.com" target="_blank">https://<br class="u-sp">www.tokumoriniwatori.com/</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="kazari02"><img src="https://cdn.shopify.com/s/files/1/0782/1698/6936/files/contents_bg01.svg" alt=""></div>
    </div>
    <!-- /.inner -->
  </section>
  <!-- /.p-company_wrap -->
</div>
<!-- /#contents-->